<!DOCTYPE html>
<html lang="es">
  <%- include ("head") %>
  <body>
    <div class="container-fluid">
      <div id="chats">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header text-white bg-primary">
              <div class="alert alert-danger"><%= error %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
