<!DOCTYPE html>
<html lang="es">
  <%- include ("head") %>
  <body>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-primary">Productos</div>
        <div class="card-body">
          <%if (productos && productos.length > 0) { %>
            <table class="table table-dark">
                <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
                </thead>
                <tbody>
                <% productos.forEach(function(prod) { %>
                    <tr>
                        <td><%= prod.title %></td>
                        <td><%= prod.price %></td>
                        <td>
                            <%if (prod.thumbnail) { %>
                        <img src="<%= prod.thumbnail %>" style="width: 64px" />
                        <% } %>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
          <% } else {%>
            <div class="alert alert-warning" role="alert">
                No se encontraron productos
            </div>
          <% } %>
          <a href="/" >Cargar Producto</a>
        </div>
      </div>
    </div>
  </body>
</html>