<!DOCTYPE html>
<html lang="es">
  <%- include ("head") %>
  <body>
    <div class="container-fluid">
      <div id="chats">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header text-white bg-primary">Registrate</div>
            <div class="card-body">
              <%if (error) { %>
              <div class="alert alert-danger"><%= error %></div>
              <% }; %>
              <form
                class="form-horizontal"
                method="POST"
                action="/registro"
                enctype="multipart/form-data"
                onsubmit="process(event)"
              >
                <div class="form-group row">
                  <label class="col-1" for="nombre">Nombre</label>
                  <input
                    placeholder="Ingresar nombre"
                    class="form-control col-6"
                    type="text"
                    name="nombre"
                    required
                  />
                </div>
                <div class="form-group row">
                  <label class="col-1" for="nombre">Edad</label>
                  <input
                    placeholder="Ingresar su edad"
                    class="form-control col-6"
                    type="number"
                    name="edad"
                    required
                  />
                </div>
                <div class="form-group row">
                  <label class="col-1" for="nombre">Dirección</label>
                  <input
                    placeholder="Ingresar su dirección"
                    class="form-control col-6"
                    type="text"
                    name="direccion"
                    required
                  />
                </div>
                <div class="form-group row">
                  <label class="col-1" for="nombre">Teléfono</label>
                  <input id="phone" required class="form-control col-lg-*" type="tel" name="telefono" />
                </div>
                <div class="form-group row">
                  <label class="col-1" for="nombre">Email</label>
                  <input
                    placeholder="Ingresar email: miemail@dominio.com"
                    class="form-control col-6"
                    type="email"
                    name="username"
                    required
                  />
                  <%if (false) { %>
                  <div class="alert alert-danger"></div>
                  <% }; %>
                </div>

                <div class="form-group row">
                  <label class="col-1" for="nombre">Contraseña</label>
                  <input
                    placeholder="Ingresar su contraseña"
                    class="form-control col-6"
                    type="password"
                    name="password"
                    required
                  />
                </div>

                <div class="form-group row">
                  <label class="col-1" for="nombre">Avatar</label>
                  <input
                    ty
                    placeholder="subir avatar"
                    class="form-control col-6"
                    type="file"
                    name="avatar"
                    accept="image/png, image/gif, image/jpeg"
                    required
                  />
                </div>

                <div class="form-group row" style="display: inline-block">
                  <input
                    class="btn btn-success"
                    type="submit"
                    name="enviar"
                    value="Registrate!"
                  />
                  <a class="btn btn-primary" href="/login"
                    >Ya estoy registrado</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    function process(event) {
      const phoneNumber = phoneInput.getNumber();
        event.target[3].value = phoneNumber;
      }
  </script>
</html>
